<a href="/">Voltar</a>
<form action="/editado/{{id}}" method="post">
  <p>Usuario: </p>
  <input type="text" name="usuario" placeholder="{{usuario}}">
  <p>Talent: </p>
  <textarea name="talent" rows="8" cols="40" placeholder="{{talent}}"></textarea>
  <p>Linguagem </p>
  <input type="text" name="linguagem" placeholder="{{linguagem}}">
  
  <button type="submit">Editar</button>
</form>