<a href="/">Voltar</a>
<form action="/add" method="POST">
    <p><input type="text" name="usuario"> Usuario</p>
    <p><textarea name="talent" cols="30" rows="10"></textarea> Talent</p>
    <p><input type="text" name="linguagem"> Linguagem</p>
    <p><button type="submit">Enviar</button></p>
</form>