<a href="/">Voltar</a>
<form action="/add" method="POST">
    <p><input type="text" name="nome"> Nome</p>
    <p><textarea name="descricao" cols="30" rows="10"></textarea> Descricao</p>
    <p><input type="text" name="fabricante"> Fabricante</p>
    <p><button type="submit">Enviar</button></p>
</form>